.form {
  flex-grow: 10;
  align-content: flex-start;
  display: none;

  &.show {
    display: unset;
  }

  .field {
    padding: var(--padding-md);

    .sc-error {
      position: absolute;
      top: 0;
      left: var(--border-radius);
      transform: translateY(-100%);
      background-color: #f44336;
      color: #ffffff;
      padding: 0 var(--padding-sm);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
}
