.header {
  padding: var(--padding-md);
  color: var(--color-dark);
  border-bottom: var(--border-thickness) solid var(--color-primary-light);

  .title {
    font-size: 2rem;
  }

  .info {
    .bit {
      margin-right: var(--padding-md);
    }
  }
}
