.header {
  padding: var(--padding-md);
  color: #ffffff;
  background-color: var(--color-primary-light);

  .title {
    font-size: 2rem;
  }

  .info {
    .bit {
      margin-right: var(--padding-md);
    }
  }
}
