.summary {
  flex-grow: 10;
  align-content: flex-start;
  display: none;

  &.show {
    display: unset;
  }

  .cheque {
    padding: var(--padding-md);
  }

  .controls {
    padding: var(--padding-md);

    .total {
      text-align: right;

      .amount {
        color: red;
      }
    }
  }

  .payment {
    padding: var(--padding-md);
    margin-top: var(--padding-md);
    border-top: var(--border-thickness) solid var(--fade-dark-sm);
  }
}
