.summary {
  flex-grow: 10;
  align-content: flex-start;
  display: none;

  &.show {
    display: unset;
  }

  .cheque {
    padding: var(--padding-md);

    .list {
      padding: var(--padding-md);
      border: var(--border-thickness) solid var(--fade-dark-sm);
      border-radius: var(--border-radius);
    }
  }

  .controls {
    padding: var(--padding-md);
  }

  .payment {
    padding: var(--padding-md);
    margin-top: var(--padding-md);
    border-top: var(--border-thickness) solid var(--fade-dark-sm);
  }
}
