.user {
  padding: var(--padding-md);
  margin-bottom: var(--padding-md);
  border: var(--border-thickness) solid var(--fade-dark-sm);
  border-radius: var(--border-radius);

  .registration {
    text-align: left;

    .description {
      font-weight: bold;
    }
  }

  .amount {
    text-align: right;

    .description {
      color: red;
    }
  }

  .details {
    .head {
      font-weight: bold;
      margin-top: var(--padding-md);
      margin-bottom: var(--padding-sm);
      padding-bottom: var(--padding-sm);
      border-bottom: var(--border-thickness) solid var(--fade-dark-sm);
    }
  }
}
