.user {
  position: relative;
  padding: var(--padding-md);
  margin-bottom: var(--padding-md);
  border: var(--border-thickness) solid var(--fade-dark-sm);
  border-radius: var(--border-radius);

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--icon-md);
    height: var(--icon-md);
    line-height: var(--icon-md);
    text-align: center;
    transform: translateX(calc(100% + var(--padding-sm)));
    background-color: var(--color-lighter);
    border: var(--border-thickness) solid var(--fade-dark-sm);
    border-radius: var(--border-radius);
    transition: var(--transition-sm);
    cursor: pointer;

    &:hover {
      border-color: var(--color-primary-dark);
      background-color: var(--color-light);
    }
  }

  .registration {
    text-align: left;

    .description {
      font-weight: bold;
    }
  }

  .amount {
    text-align: right;

    .description {
      color: red;
    }
  }

  .details {
    .head {
      font-weight: bold;
      margin-top: var(--padding-md);
      margin-bottom: var(--padding-sm);
      padding-bottom: var(--padding-sm);
      border-bottom: var(--border-thickness) solid var(--fade-dark-sm);
    }
  }
}
