.workshops {
  flex-grow: 10;
  align-content: flex-start;
  display: none;

  &.show {
    display: unset;
  }

  .current {
    margin: var(--padding-md);
    margin-bottom: var(--padding-lg);
  }

  .list {
    margin: var(--padding-md);

    .workshop {
      padding: var(--padding-md);
      border: var(--border-thickness) solid var(--fade-dark-sm);
      border-radius: var(--border-radius);

      .name {
        color: var(--color-dark);
      }

      .controls {
        text-align: right;

        .add {
          padding: var(--padding-sm) var(--padding-md);
          margin-left: var(--padding-md);
          border: var(--border-thickness) solid var(--color-primary-dark);
          border-radius: var(--border-radius);
          transition: var(--transition-sm);
          cursor: pointer;

          &:hover {
            background-color: var(--color-light);
          }
        }
      }
    }
  }
}
